<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletEquipo</servlet-name>
        <servlet-class>controlador.ServletEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>controlador.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLiga</servlet-name>
        <servlet-class>controlador.ServletLiga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIntegrantes</servlet-name>
        <servlet-class>controlador.ServletIntegrantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTorneo</servlet-name>
        <servlet-class>controlador.ServletTorneo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEquipo</servlet-name>
        <url-pattern>/ProcesoEquipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/ProcesoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLiga</servlet-name>
        <url-pattern>/ProcesoLiga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIntegrantes</servlet-name>
        <url-pattern>/ProcesoIntegrantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTorneo</servlet-name>
        <url-pattern>/ProcesoTorneo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            Index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
